name: CI

on: [push]
permissions:
  contents: read
  packages: write
jobs:
  workflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./app/requirements.txt
      - name: Run unit tests
        run: pytest ./app/tests/test_app.py
      - name: Build and push the image
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker build . -t ghcr.io/wojtekwla/iris-streamlit:latest
          docker push ghcr.io/wojtekwla/iris-streamlit:latest